.aliceblue { color: aliceblue; }
.antiquewhite { color: antiquewhite; }
.aqua { color: aqua; }
.aquamarine { color: aquamarine; }
.azure { color: azure; }
.beige { color: beige; }
.bisque { color: bisque; }
.black { color: black; }
.blanchedalmond { color: blanchedalmond; }
.blue { color: blue; }
.blueviolet { color: blueviolet; }
.brown { color: brown; }
.burlywood { color: burlywood; }
.cadetblue { color: cadetblue; }
.chartreuse { color:chartreuse; }
.chocolate { color: chocolate; }
.coral { color: coral; }
.cornflowerblue { color:cornflowerblue; }
.cornsilk { color:cornsilk; }
.crimson { color: crimson; }
.darkblue { color: darkblue; }

.silver { color: silver; }