@import url('./colors.css');

.p-relative { position: relative; }

.p-absolute { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.p-absolute-only { position: absolute; }

.overflow { overflow: auto; }

.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }